<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'app/favicon.png' %}" type="image/x-icon">

    <!-- css stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Startup Ayush</title>
    <style>
    </style>
</head>

<body>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <header>
        <!-- header top -->
        <div class="header-top">
            <div class="head">
                <div class="logos">
                    {% load static %}
                    <img src="{% static 'app/Ministry-of-AYUSH.png' %}" id="image-size-1" alt="Government of India">
                    <img src="{% static 'app/ayush.png' %}" id="image-size-2"
                        alt="Indian Ministry Of Industry and Commerece">
                </div>
                <div class="links">
                    <a href="/home">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/signup">Login</a>
                </div>
                <div class="logos">
                    {% load static %}
                    <img src="{% static 'app/startup_india.png' %}" alt="Startup India">
                    <img src="{% static 'app/azadi_ka_amrit_mahotsav.png' %}" alt="MSME">

                </div>
            </div>
            <div class="gear_size">
                {% load static %}
                <img src="{% static 'app/Gear_2.gif' %}" alt="gears">
            </div>
        </div>
    </header>
    <!--carousel-->
    <div>
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
                {% load static %}
                <div class="carousel-item active">
                    <img src="{% static 'app/c1.png' %}" class="d-block w-100" alt="...">
                </div>
                {% load static %}
                <div class="carousel-item">
                    <img src="{% static 'app/c2.png' %}" class="d-block w-100" alt="...">
                </div>
                {% load static %}
                <div class="carousel-item">
                    <img src="{% static 'app/c3.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- <section class="section3">
        <div class='links' >
        <a >About-Ayush</a>
        <a>Startup-Directory</a>
        <a>Investor-Matching</a>
        <a>Incubator&Accelerator</a>
        <a>Mentorship&Networking</a>
        <a>Collaboration&Forums</a>
        <a>News&Updates</a>   
        </div>
    </section> -->
    <!--Content-->
    <div class="intro_pro">
        <h1>Ayush Startup Challenge</h1><br>
        <p>
            The All India Institute of Ayurveda (AIIA) has been conceived as an Apex Institute for Ayurveda. It is
            an Autonomous Institute under Ministry of Ayush. It aims at bringing a synergy between the traditional
            wisdom of Ayurveda and the modern tools and technology. The Institute has 25 specialty departments and
            12 clinics with 8 inter-disciplinary research laboratories wherein several scholars have access for PG &
            Ph.D. programs every year. This institute also has an international collaborative centre for global
            promotion and research in Ayurveda.
        </p>
        <p>All India Institute of Ayurveda (AIIA) through the partnership with Startup India wants to identify and
            support innovations and startups working in the Ayush sectors and harness the power of new technologies.
        </p>
        <br>
        <h2>Program Details</h2><br>
        <h5> DETAILED ELIGIBILITY CRITERIA</h5>
        <p>
            The Ayush Startup Challenge is open to the following -<br>
            1. Early Stage Startups<br>
            2. Individuals as a group (3-5 members)-
            (If selected, they will be required to register a legal entity before any cash prize/grant can be rewarded
            to them)<br>
        </p>

        <h1>Ayush Startup Challenge</h1><br>
        <p>
            The All India Institute of Ayurveda (AIIA) has been conceived as an Apex Institute for Ayurveda. It is
            an Autonomous Institute under Ministry of Ayush. It aims at bringing a synergy between the traditional
            wisdom of Ayurveda and the modern tools and technology. The Institute has 25 specialty departments and
            12 clinics with 8 inter-disciplinary research laboratories wherein several scholars have access for PG &
            Ph.D. programs every year. This institute also has an international collaborative centre for global
            promotion and research in Ayurveda.
        </p>
        <p>All India Institute of Ayurveda (AIIA) through the partnership with Startup India wants to identify and
            support innovations and startups working in the Ayush sectors and harness the power of new technologies.
        </p>
        <br>
        <h2>Program Details</h2><br>
        <h5> DETAILED ELIGIBILITY CRITERIA</h5>
        <p>
            The Ayush Startup Challenge is open to the following -<br>
            1. Early Stage Startups<br>
            2. Individuals as a group (3-5 members)-
            (If selected, they will be required to register a legal entity before any cash prize/grant can be rewarded
            to them)<br>
        </p>

        <div class="Stake_Industry">
            <h5 class="margin-between">RELEVANT STAKEHOLDERS</h5>
            <ul class="releStake">
                <li>Individual</li>
                <li>Ideation Stage Startup</li>
                <li>Validation Stage Startup</li>
            </ul>
            <h5 class="margin-between">RELEVANT INDUSTRY</h5>
            <ul class="releInd">
                <li>Analytics</li>
                <li>Advertising</li>
                <li>Architecture Interior Design</li>
                <li>AR VR</li>
                <li>Automotive Art &amp; Photography</li>
                <li>Animation</li>
                <li>Chemicals</li>
                <li>Computer Vision</li>
                <li>Telecommunication</li>
                <li>Construction</li>
                <li>Agriculture</li>
                <li>Aeronautics</li>
                <li>Aerospace &amp; Defence</li>
                <li>AI</li>
                <li>Green Technology</li>
                <li>Events</li>
                <li>Fashion</li>
                <li>Finance</li>
                <li>Technology</li>
                <li>Enterprise</li>
                <li>Software</li>
                <li>Food &amp; Beverages</li>
                <li>Design</li>
                <li>Dating Matrimonial</li>
                <li>Education</li>
                <li>Renewable Energy</li>
                <li>Technology Hardware</li>
                <li>Healthcare &amp; Lifesciences</li>
                <li>Internet of Things</li>
                <li>IT Services</li>
                <li>Human Resources</li>
                <li>Marketing</li>
                <li>Nanotechnology</li>
                <li>Non- Renewable Energy</li>
                <li>Pets &amp; Animals</li>
                <li>Media &amp; Entertainment</li>
                <li>Retail</li>
                <li>House-Hold Services</li>
                <li>Professional Services</li>
                <li>Sports</li>
                <li>Social Impact</li>
                <li>Social Network</li>
                <li>Textiles &amp; Apparel</li>
                <li>Indic Language Startups</li>
                <li>Transportation &amp; Storage</li>
                <li>Logistics</li>
                <li>Travel &amp; Tourism</li>
                <li>Security Solutions</li>
                <li>Airport Operations</li>
                <li>Real Estate</li>
                <li>Other Specialty Retailers</li>
                <li>Safety</li>
                <li>Robotics</li>
                <li>Passenger Experience</li>
                <li>Biotechnology</li>
                <li>Waste Management</li>
                <li>Others</li>
                <li>Toys and Games</li>
            </ul>
        </div>
        <!-- themes-for-challenges -->
        <h5>THEMES FOR CHALLENGES</h5>
        <div class="themes-for-challenges">

            <div>
                <h5>Ayush Food Innovations</h5>
            </div>
            <div class="highlight">
                <h5>Ayush Bio-instrumentation (Hardware solutions)</h5>
            </div>
            <div>
                <h5>Ayush IT Solutions (Software solutions)</h5>
            </div>
        </div>
        <!-- problem statement -->
        <h5>PROBLEM STATEMENT</h5><br>
        <div class="problem-statement">

            <div>
                <h5 class="color-h5-problem-statement">Food Innovations in Ayush Sector –
                <h5 class="color-h5-problem-statement">Food Innovations in Ayush Sector –
                    Ready to Eat Nutritious Ayurveda Ahara (Food)</h5>
                <h6 class="color-h6-problem-statement">In this era of Pandemic - The population at large is striving to
                    consume more nutritious food, with
                <h6 class="color-h6-problem-statement">In this era of Pandemic - The population at large is striving to
                    consume more nutritious food, with
                    less
                    time to be spent in preparing it.
                    The ready-to-eat foods are demanded on a wider scale, which requires minimum preparation or clean-up
                    for
                    the users.
                    Innovation in this segment of food delivery helps in creating greater demand for consumers to hold
                    onto
                    a healthy lifestyle in their busy work schedules.</h6><br>
            </div>
            <div>
                <h5 class="color-h5-problem-statement">Ayush Bio-instrumentation (Hardware Solutions) and Innovations in
                    healthcare enabling breakthrough
                <h5 class="color-h5-problem-statement">Ayush Bio-instrumentation (Hardware Solutions) and Innovations in
                    healthcare enabling breakthrough
                    performance in terms of better outcomes, convenience, access for less cost, complexity and time
                    required
                    for the patient and the provider</h5>
                <h6 class="color-h6-problem-statement"> Innovations can be in the area of 3-D printed devices for
                    Ayurveda Medical Technology products,
                <h6 class="color-h6-problem-statement"> Innovations can be in the area of 3-D printed devices for
                    Ayurveda Medical Technology products,
                    Convenient care/Urgent care at lower cost to patients, Telehealth, Panchakarma Instrumentation,
                    Innovation in instruments used for pharmaceutical processing of Ayurveda drugs on lab scale, drug
                    ATMs,
                    Innovation in instrumentation for analysis and quality control of Ayurvedic drugs etc.</h6><br>
            </div>
            <div>
                <h5 class="color-h5-problem-statement">Ayush IT Solutions in the areas of Artificial Intelligence (AI)
                    based solutions in Ayurveda
                <h5 class="color-h5-problem-statement">Ayush IT Solutions in the areas of Artificial Intelligence (AI)
                    based solutions in Ayurveda
                    Diagnostics,
                    Virtual reality, Biosensors & Trackers</h5>
                <h6 class="color-h6-problem-statement">Innovations in Information technologies (i.e. ITs) have the
                    capacity, more than any other medium, to
                <h6 class="color-h6-problem-statement">Innovations in Information technologies (i.e. ITs) have the
                    capacity, more than any other medium, to
                    facilitate various stakeholders of Ayush Sector.
                    <br>Innovations can be in the area of Artificial Intelligence (AI) based solutions in Ayurveda
                    Diagnostics,
                    Virtual reality, Bio-sensors & Trackers, Convenient care/Urgent care at lower cost to patients,
                    Leveraging data to physician experience (During diagnosis and treatment and taking patient
                    feedback),
                    Databases, methods for identifying various phases of pharmaceutical processing, web based networking
                    for
                    raw drug consumption in pharmaceutical industry with linkages etc.
                </h6><br>
                    raw drug consumption in pharmaceutical industry with linkages etc.
                </h6><br>
            </div>

        </div>
        <h2 class="margin-between">INCENTIVES</h2>
        <div class="incentives">
            <div>
                {% load static %}
                <img src="{% static 'app/incentive-fiscal.png' %}" alt="Fiscal Incentives">
            </div>
            <div>
                <h6>Fiscal Incentives</h6>
                <p>2 prizes in each sector (i.e., a total of 6 prizes)</p>
                <p>- INR 1,00,000 (1st Prize)</p>
                <p>- INR 50,000 (2nd Prize)</p>
            </div>
            <div>
                {% load static %}
                <img src="{% static 'app/nonfiscel.png' %}" alt="Non Fiscal Incentives">
            </div>
            <div>
                <h6>Non Fiscal Incentives</h6>
                <p>Incubation support at All India Institute of Ayurveda (AIIA) and/or</p>
                <p>All India Institute of Ayurveda (AIIA) Incubation Partners (Perio</p>
                <p>will depend on feasibility of the idea and will be determined on </p>
                <p>case-to-case basis)</p>
            </div>
        </div>
        <div class="procedure-post-submission margin-between">
            <h2 class="margin-between">Procedure Post Submission</h2>
            <p>Evaluation of startups to be undertaken once applications are closed.</p>
        </div>
        <div class="contact-the-host margin-between">
            <h2>Contact the Host</h2>
            <div class="container margin-between">
                <div>
                    <h6>ORGANIZATION NAME</h6>
                    <p>StartUp India</p>
                </div>
                <div>
                    <h6>PERSON IN CHARGE</h6>
                    <p>Sana Dewan</p>
                </div>
                <div>
                    <h6>DESIGNATION</h6>
                    <p>Assistant Manager</p>
                </div>
                <div>
                    <h6>SUPPORT EMAIL ID</h6>
                    <p>dipp-startups@nic.in</p>
                </div>
            </div>
        </div>
        <div class="partners margin-between">
            <h2 class="margin-between">Partners</h2>
            <div class="container">
                <div >
                    {% load static %}
                    <img src="{% static 'app/logo.png' %}" alt="Ministry of Ayush" class="partner-image">
                </div>
                <div >
                    {% load static %}
                    <img src="{% static 'app/logo2.png' %}" alt="Ministry of Ayush" class="partner-image">
                </div>
                <div >
                    {% load static %}
                    <img src="{% static 'app/logo3.png' %}" alt="Ministry of Ayush" class="partner-image">
                </div>
                <div >
                    {% load static %}
                    <img src="{% static 'app/logo4.png' %}" alt="Ministry of Ayush" class="partner-image">
                </div>
            </div>

        </div>
    </div>



    <footer>
        <div class="end">
            {% load static %}
            <img src="{%static 'app/startupIndia footer.png'%}" alt="StartUp India" title="startup_india">
            <div>
                © 2024 Startup India. All Rights Reserved.
            </div>
            {% load static %}
            <img src="{%static 'app/Gov of IND.png'%}" alt="Govt Of India">
        </div>
    </footer>
</body>

</html>