{% extends  "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>
<body>
    <main>
        <div class="back">
        <a href=""><img type="image" src="left.png" width="25"></a><span id="spanid"> Back to Home</span>
        </div>
    <div class="regpage">    
    <form action="style.css" method="GET">
    <h2>Create An Account</h2>
    <div class="input">
        <input type="text" id="name" placeholder="User Name" required> 
    </div>
    <div class="input">
        <input type="email" id="email" placeholder="Email id" required>
    </div>
    <div class="input">
        <input type="text" id="mobile" placeholder="Mobile Number">
    </div>
    <div class="input">
        <input type="password" id="password" placeholder="Password" minlength="8" required>
    </div>
    <div class="input">
        <input type="password" id="cpassword" placeholder="Confirm password" minlength="8" required>
    </div>
    <div class="button">
        <button type="submit">Register</button>
    </div> 
    </form>
    <div class="social">
        <h4 class="icons">Signup With Your Social Accounts</h4>
       <a href=""> <img type="image" src="googleicon.png" width="30"></a> <a href=""><img type="image" src="facebook.png" width="30"></a> <a href=""><img type="image" src="twitter.png" width="30"></a><a href=""><img type="image" src="linkedin.png" width="30"> </a>
        <h5 class="icons">Already have an account?</h5><h3><a href="">Login here</a></h3>
    </div>
    </div>
    </main>
</body>
</html>
