<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>

    <div class="errors">
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>

    <form action="/signin/" method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <br><br>

        <button type="submit">Sign In</button>
    </form>
    <div class="social">
        <h4 class="icons">Signup With Your Social Accounts</h4>
       <a href=""> <img type="image" src="googleicon.png" width="30"></a> <a href=""><img type="image" src="facebook.png" width="30"></a> <a href=""><img type="image" src="twitter.png" width="30"></a><a href=""><img type="image" src="linkedin.png" width="30"> </a>
        <h5 class="icons">Already have an account?</h5><h3><a href="">Login here</a></h3>
    </div>

</body>
</html>
