body{
    background-color:#73be73;
    background-size: cover; /* Adjust size as needed */
    background-repeat: no-repeat;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    margin: 0;
}


form{
    flex:1;
    justify-content: center;
        padding: 20px;
        border-radius: 8px;
        align-items: center;
        
        box-shadow: 0 0 10px rgba(210, 84, 84, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus{
    background-color:greenyellow;
}




button{
    font-family: serif;
    background-color: #f17726;
    font-size: 25px;
    color: white;
    margin-top:20px;
    padding:5px 10px;
    border:1px solid #ffaf7a;
    box-shadow:2px;
    border-radius:10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}