body {
    font-family: Montserrat !important;
    margin:0;
}
.header-top {
    background-color: white;
    padding: 0.5rem 0;
    position: relative;
}
#image-size-1 {
    width:7rem;
    height:3rem;
}
#image-size-2 {
    height:3rem;
}

.gear_size {
    position: absolute;
    z-index: 2;
    left:90rem;
    bottom: 0.5rem;
}

/* .chakra {
    position: absolute;
    z-index: 2;
    left:90rem;
    bottom: 0.5rem;
    height: 118px;
    width: 120px;
} */

.container {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.head {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.links>a:hover {
    color: #009470;
    
}
.links>a {
    color: black;
    text-decoration: none;
    text-decoration: dotted;
}
.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}
/* #follow-section {
    width: 5.875rem;
    height: 1.5rem;
} */
#follow-section-2 {
    width:auto;
    height:auto;
}
.follow-icon {
    padding-left:0.001 rem;
    padding-right:0.001 rem;
}
.header-bottom {
    background-color: #181818;
}