body {
    font-family: Montserrat !important;
    margin: 0;

}


.primary-bgcolor {
    background-color: #32ba98;
}

.primary-color {
    color: #32ba98;
}

.padding-top {
    padding-top: 1rem;
}

.white-text {
    color: white;
}

.text-center {
    text-align: center;

}

.header-top {
    background-color: white;
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
}

#image-size-1 {
    width: 7rem;
    height: 3rem;
}

#image-size-2 {
    height: 3rem;
}

.gear_size {
    position: absolute;
    z-index: 2;
    left: 93rem;
    overflow: hidden;
    max-width: 6rem;
    bottom: 0.1rem;
    overflow: hidden;
    max-width: 3rem;
}

/* .chakra {
    position: absolute;
    z-index: 2;
    left:90rem;
    bottom: 0.5rem;
    height: 118px;
    width: 120px;
} */

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.links>a:hover {
    color: #009470;

}

.links>a {
    color: black;
    font-size: 1.2rem;
    text-decoration: dashed;
    font-weight: 550;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.intro_pro {
    margin: 1.563rem 3.125rem 0 3.125rem;
    padding: 3.125rem 6.25rem 0 6.25rem;
}

.releStake {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin:1rem 0; */
}

.releStake>li {
    background: url(./tie.png) no-repeat;
    background-size: contain;
    padding-left: 1.5rem;
}

.releInd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* margin: 1rem 0; */
}

.margin-between {
    margin: 2rem 0;

}

.releInd>li {
    background: url(./industry.png) no-repeat;
    background-size: contain;
    padding-left: 1.5rem;
    flex: 0 0 25%;
}

.Stake_Industry {
    margin: 0 0 5rem 0;
}

.themes-for-challenges {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 2rem 0;
}

.themes-for-challenges>div {
    height: auto;
    width: 20rem;
    border: 1px solid #ccc;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    background-color: rgb(244, 244, 244);
    border-left: 0px;
    border-right: 0px;
}

.problem-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(249, 249, 249);
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.problem-statement>div {
    border-top: 2px solid #ebecee;

}

.color-h6-problem-statement {
    color: rgb(108, 100, 100);
    font-weight: normal;
}

.color-h5-problem-statement {
    color: #464995;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

.incentives {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem 0;
}


.contact-the-host>.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.partners>.container {
    display: flex;
    align-items: center;
    justify-content: start;
    /* justify-content: center; */
    gap: 6rem;
}

.partner-image {
    max-width: 240px;
    max-height: 100px;

}


/* #follow-section {
    width: 5.875rem;
    height: 1.5rem;
} */
/* #follow-section-2 {
    width:auto;
    height:auto;
}
.follow-icon {
    padding-left:0.001 rem;
    padding-right:0.001 rem;
} */
.header-bottom {
    background-color: #181818;
}

.end {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
    font-size: 0.875rem;
    align-items: center;
    margin-top: 5rem;
}







/* about page */
.about-section {
    margin-top: 3rem;
    position: relative
}

.inner-banner {
    top: 8rem;
    left: 5rem;
    max-width: 74.8%;
    position: absolute;

}

.inner-banner>h1 {
    color: white;
}

.inner-banner>h5 {
    color: white;
}

.what-is-startup-india {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.what-is-startup-india>h6 {
    text-align: center;
}

.about-startup-india {
    position: relative;
}

.about-startup-india>img {
    width: 100%;
    position: relative;
}

.about-startup-india-content {
    position: absolute;
    bottom: 12rem;
    left: 5rem;
    max-width: 74.8%;
}

.about-startup-india-content>h1 {
    color: white;
}

.about-startup-india-content>h5 {
    color: white;
}

.ministers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4.5rem 0 3rem 0;
    /* width: 280px; */
}

.govt-img>img {
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 10px;
}

.govt-img>.info {
    text-align: center;
}

.info>p {
    font-size: 0.8rem;
    width: 280px;
    text-align: center;
    text-wrap: balance;
}

.info>h6 {
    margin-top: 20px;
}

.govt-img {

    padding: 30px 20px 20px 10px;
    text-align: center;
    border-radius: 30px;
    font-weight: 500;
}









/* SignUp Page */
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container>h1 {
    margin: 3rem;
}

.signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    gap: 1rem;
}

.signup>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 10.313rem;
}

.custom-signup-size {
    width: 10.313rem;
}

.signup-border {
    border: 1px solid #181818;
    border-radius: 2rem;
    padding: 5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

/* .signup-border > button {
    border-radius: 0.3rem;
    border: 0.3px solid #181818;
    background-color: white;
    height: 2.5rem;
    width: 7.5rem;
} */
/* .signup-border> button:hover {
    background-color: #f4f4f4;
} */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: auto;
}

.social {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.signup-header-bottom {
    padding-bottom: 2rem;
    /* border-bottom: 0.1rem solid black; */
    background-color: white;
}

#signup-header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.7rem 0 0 0;
}

#signup-header-top {
    background-color: white;
    position: relative;
}

.social>.container>.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social>.container>.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .social > .container > .flex2 > div >button {
    border-radius: 0.3rem;
    border: 0.5px solid #181818;
    background-color: white;

} */
/* 
.social > .container > .flex2 > div> button:hover {
    background-color: #f4f4f4;
} */









/* login-page */
.login-container {
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-border {
    border: 1px solid #181818;
    padding: 3rem;
    border-radius: 2rem;
}

.login-button {
    border-radius: 0.3rem;
    border: 0.3px solid #32ba98;
    background-color: white;
    height: 2.5rem;
    width: 7.5rem;
    color: #32ba98;
}

.login-button:hover {
    background-color: #32ba98;
    color: black;
    border: 2px solid white;
    border-radius: 0.3rem;
}

.login-signup {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}






/* contact page */

.roadroller {

    float: right;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
}

/* .contact-page {
    background-image: url(contactimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

.contact-box{
	max-width: 100%;
	display: grid;
    border-radius: 10px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #b5ccd1;
    transition: 0.5s;
}

.contact-box:hover{
    box-shadow: 0 0 20px 0px
}
.right{
	padding: 25px 40px;
}


.contact-box > h2 {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-box > h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #25a888;
}


.contact-box > .btn {
	width: 40%;
	padding: 0.5rem 1rem;
	background-color: #25a888;
    border-radius: 3px;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact-box > .btn:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.15);
}

.contact-box > .field:focus{
    background-color: #fff;
}

@media screen and (max-width: 768px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}


.contact-box > .field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
	outline: none;
	background-color: rgba(230, 230, 230, 0.835);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact-box > .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.contact-box > textarea{
	min-height: 150px;
} */

.intro-contact {
    margin: 1.563rem 3.125rem 0 3.125rem;
    padding: 3.125rem 6.25rem 0 6.25rem;
}