body {
    font-family: Montserrat !important;
    margin:0;

}
.header-top {
    background-color: white;
    padding: 0.5rem 0;
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
}
#image-size-1 {
    width:7rem;
    height:3rem;
}
#image-size-2 {
    height:3rem;
}

.gear_size {
    position: absolute;
    z-index: 2;
    left:90rem;
    bottom: 0.5rem;
}

/* .chakra {
    position: absolute;
    z-index: 2;
    left:90rem;
    bottom: 0.5rem;
    height: 118px;
    width: 120px;
} */

.container {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.head {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0;
    background-color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.links>a:hover {
    color: #009470;
    
}
.links>a {
    color: black;
    font-size: 1.2rem;
    text-decoration:dashed;
    font-weight:550;
}
.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.intro_pro {
    margin: 1.563rem 3.125rem 0 3.125rem;
    padding: 3.125rem 6.25rem 0 6.25rem;        
}

.releStake  {    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.releStake>li {
    background: url(./tie.png) no-repeat;
    background-size: contain;
    padding-left: 1.5rem;
}

.releInd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.releInd>li {
    background: url(./industry.png) no-repeat;
    background-size: contain;
    padding-left: 1.5rem;
    flex: 0 0 25%;
}

/* .Stake_Industry{
    margin: 1.563rem 3.125rem 0 3.125rem;
    padding: 3.125rem 6.25rem 0 6.25rem
} */

.themes-for-challenges {
    display: flex;
    justify-content:flex-start;
    align-content: center;
}

.themes-for-challenges > div {
    height: auto;
    width: 20rem;
    border: 1px solid #ccc;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    background-color: #f4f4f4;
    border-left: 0px;
    border-right: 0px;
}

/* #follow-section {
    width: 5.875rem;
    height: 1.5rem;
} */
#follow-section-2 {
    width:auto;
    height:auto;
}
.follow-icon {
    padding-left:0.001 rem;
    padding-right:0.001 rem;
}
.header-bottom {
    background-color: #181818;
}